@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 10px;

  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* background-color: #111111; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100vw;
  height: 100vh;
}


.cc-input {
  @apply bg-white rounded-lg p-4 shadow-md min-w-[32rem] font-thin
}

.cc-label {
  @apply flex flex-col items-start gap-1 uppercase font-bold text-2xl
}

.task-detail-hidden {
  display: none;
}

.task-item:hover .task-detail-hidden {
  display: flex;
}